.details {
  color: #fff;
}
.moivieTitle {
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 2em;
}

.overview {
  max-width: 500px;
  margin-top: 15px;
  h3 {
    color: #fff;
    font-weight: 700;
  }
}
