.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.logo {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  svg {
    font-size: 40px;
  }
}
.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 100% !important;
  object-fit: cover;
  border: 3px silod #222;
}
.hideTab {
  @media (max-width: 1000px) {
    display: none !important;
  }
}
.hideMobile {
  @media (max-width: 800px) {
    display: none !important;
  }
}
.hideDesktop {
  @media (min-width: 801px) {
    display: none !important;
  }
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}
