.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 500;
}
.viewAll {
  font-size: 18px;
  font-weight: bold;

  :hover {
    transition: 0.3s;
    color: var(--orange);
  }
}

//modal
.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.modal {
  position: relative;
  width: 95%;
  height: 480px;
  padding: 10px 0;
  max-width: 840px;
  // background-color: gray;
  color: #fff;
}
.closeBtn {
  background-color: var(--orange);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    font-size: 25px;
  }
}

.tooltipText {
  position: absolute;
  top: 0px;
  left: 200px;

  padding: 0.5rem 1rem;
  text-align: center;
  background-color: var(--orange);
}
