@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap');
:root {
  --dark-green: #183a1d;
  --light-green: #e1eedd;
  --orange: #f0a04b;
}
html,
body {
  padding: 0;
  margin: 0;
  color: var(--dark-green);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--orange);
  margin: 0;
  padding: 0;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 5px 0;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

.section {
  padding: 0rem 2rem;
}
@media (max-width: 800px) {
  .section {
    padding: 0rem 1rem;
  }
}

.btn {
  padding: 0.6em 1.2em;
  background-color: var(--dark-green);
  color: white;
  border-radius: 0.13em;
  text-transform: capitalize;
  font-weight: 400;
  border: none;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 16px;
}
.loadmore-btn {
  background-color: palevioletred;
}
.trailer-btn {
  margin-top: 10px;
  background-color: palevioletred;
}

.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}

/* slider gap css */
.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}

/* Loader  */
.loader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid palevioletred;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
